
body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
a:hover{
  color: #EAF6F6;
}
h1 {
  color: #66BFBF;
  font-size: 5.62em;
  font-family: 'Sacramento', cursive;
  margin: 20px auto 0 auto;
  line-height: 2;
  }

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin : 100px auto;
}

/**************Classes***************/
.allanphoto{
  padding-top: 20px;
  width: 10%;
}

.bottom-container {
background-color: #66BFBF;
padding : 50px 0 20px;
font-size: small;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me{
  width: 40%;
  margin : 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link{
  color: #11999E;
}

.imgcode{
  width: 25%;
  float: right;
  margin-left: 20px;
}

.imgplane{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro-par{
  font-weight: normal;
  color: #66BFBF;
}

.intro-par2{
  width: 30%;
  margin: auto;
}

.middle-container {
 margin: 100px 0;
}

p{
  line-height: 2;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  position: relative;
  background-color: #f4f6ff;
  padding-top: 100px;
  /*Position must be relative otherwise the children objects will
  be absolute to the body*/
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.underline{
  text-decoration: underline;
}

/*
Clear property is used to make sure that the left or right of a paragraph
heading etc is clear and not wrapping around another object.
.planepara{
  clear: left;
}

.codepara{
  clear: right;
}
*/
